.card__section__wrapper {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding: 5px 10px;
}
.connection__wrapper {
  composes: card__section__wrapper;
}
.brightness__wrapper {
  composes: card__section__wrapper;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

.brightness__marker {
  font-size: 14px;
  background-color: #3478f9;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
  color: #fff;
}
.brightness__bar__wrapper {
  width: 100%;
  height: 5px;
  border-radius: 7px;
  border: 1px dotted rgb(184, 184, 184);
}
.brightness__bar {
  height: 6px;
  border-radius: 7px;
  background-color: #3478f9;
  transition: all 0.5s;
}
.color__wrapper {
  composes: card__section__wrapper;
  display: flex;
  flex-direction: column;
}
.color__indicator {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #949494;
  transition: all 0.5s ease-in-out;
}
