.card__section__wrapper {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding: 5px 10px;
}

.connection__wrapper {
  composes: card__section__wrapper;
}

.power__wrapper {
  composes: card__section__wrapper;
  flex-direction: column;
  width: 100%;
}

.wattage__title {
  font-size: 1.9em;
  margin-top: 25px;
  color: #5a5a5a;
}

.wattage__title img {
  width: 35px;
  margin-right: 10px;
}
