.card__section__wrapper {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding: 5px 10px;
}
.connection__wrapper {
  composes: card__section__wrapper;
}
.temperature__wrapper {
  composes: card__section__wrapper;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.temperature__title {
  font-size: 1.9em;
  margin-top: 25px;
  color: #5a5a5a;
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.temperature__img {
  margin-right: 10px;
  width: 35px;
}
