.card {
  width: 320px;
  height: 320px;
  max-width: 100vw;
  min-width: 320px;
  max-height: 800px;
  min-height: 320px;
  font-size: 19px;
  position: absolute;
  border-radius: 0.75rem;
  padding: 20px;
  background-color: #e9e9e9;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  color: #000;
  overflow: hidden;
  touch-action: none;
  z-index: 3;
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
}

.exit__button {
  margin-left: auto;
  background-color: #ff4747;
  font-size: 1.1em;
  color: #fff;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.exit__button:hover {
  background-color: #ff1b1b;
}

.title__heading {
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  margin: 15px 0 10px;
  position: relative;
}

.type__paragraph {
  color: #5a5a5a;
  width: 100%;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}

.card__section__wrapper {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding: 5px 10px;
}

.connection__wrapper {
  composes: card__section__wrapper;
}
