.container {
  position: relative;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  flex-flow: column wrap;
  margin-bottom: 25px;
  padding: 15px;
  text-align: center;
  width: 95%;
  word-break: break-word;
  cursor: pointer;
  transition: background-color 0.4s;
}
.container:hover {
  background-color: rgb(233, 233, 233);
}

.container--active {
  composes: container;
  background-color: rgb(233, 233, 233) !important;
}
.container:active {
  background-color: rgb(218, 218, 218);
}
.card__header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px 12px 0;
  position: relative;
  width: 100%;
}

.image__wrapper {
  width: 60px;
}

.title {
  font-size: 1.4em;
  letter-spacing: 2px;
  margin: 12px 0;
  padding: 0 10px;
}

.type__paragraph {
  color: #5a5a5a;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.connection__paragraph {
  letter-spacing: 1.3px;
  /* margin: auto 0; */
  padding-left: 15px;
  position: relative;
  width: max-content;
  text-transform: lowercase;
}

.connection__paragraph::before {
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 10px;
}

.connection__paragraph--connected,
.connection__paragraph--disconnected,
.connection__paragraph--poorConnection {
  composes: connection__paragraph;
}
.connection__paragraph--connected::before {
  background-color: #4ca835;
}
.connection__paragraph--poorConnection::before {
  background-color: #e69138;
}
.connection__paragraph--disconnected::before {
  background-color: #ff3232;
}
@media screen and (min-width: 470px) {
  .card__info {
    display: flex;
    flex-direction: row;
  }

  .type__paragraph {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 668px) {
  .container {
    background-color: #fff;
    height: 100%;
    padding: 15px;
    width: 280px;
  }

  .card__header {
    align-items: center;
    flex-flow: column wrap;
  }

  .card__info {
    display: block;
    margin: auto auto 0;
    width: initial;
  }

  .type__paragraph {
    margin-bottom: 15px;
  }

  .image__wrapper {
    width: 60%;
  }
}
