* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
p {
  margin: 0;
}
h3 {
  margin: auto 0;
}
h4 {
  margin: auto 0;
}
:global(.dot__span::before) {
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 10px;
}
